@use "../breakpoints.scss" as breakpoints;

.hover {
    transition: var(--transition-micro-medium);
    cursor: pointer;

    &:hover {
        transform: translateX(var(--static-space-4));
    }
}

.active {
    color: var(--brand-on-background-strong);
    
    .line {
        background: var(--brand-on-background-strong);
        min-width: var(--static-space-24);
    }
}

@media (max-width: breakpoints.$s) {
    .sidebar {
        display: none;
    }
}
